.contato-page {
  section {
    padding: 50px 0;
    text-align: center;
    .titulo {
      font-family: Montserrat;
      font-size: 4rem;
      color: #222;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    .subtitulo {
      font-family: Lato;
      margin-bottom: 30px;
    }
    .text {
      font-size: 1rem;
      font-family: Poiret One;
      margin-top: 50px;
      color: #000;
      font-weight: bold;
    }
  }
}
