.home-page {
  .sobre-nos {
    padding: 50px 0;
    background-color: #be1b0e;
    box-shadow:  inset 0 0 10px rgba(0,0,0,0.5);
    min-height: 440px;
    // background-color: #231F20;
    .esquerda,
    .direita {
      width: 50%;
      position: relative;
    }
    .esquerda {
      min-height: 440px;
      .title {
        color: #FFCC00;
        font-family: $fontTitle;
        font-size: 53px;
      }
      .text {
        color: #fff;
        font-size: 21px;
        margin-top:8%;
        font-family: $fontText;
        text-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
      }
      &:after {
        content: "";
        width: 115%;
        height: 320px;
        position: absolute;
        top: 120px;
        left: 500px;
        background: url(../img/linha-sobre-nos.png) no-repeat;
      }
      .btn {
        padding: 0.5rem 0.4rem;
        display: block;
        color: #fff;
        background-color: #231F20;
        font-family: $fontText;
        text-decoration: none;
        border-radius: 4px;
        text-align: center;
        font-size: 21px;
        transition: 0.3s;
        display: flex;
        justify-content: center;

        position: absolute;
        bottom: -20px;
        width: 70%;
        &:hover {
          background-color: rgba(#231F20,0.6);
          transition: 0.3s;
        }
        i {
          margin-left: 20px;
        }
      }
    }
    .direita {
      text-align: right;
      .title {
        margin-top: 65px;
        margin-bottom: 48px;
        font-family: $fontTitle;
        font-size: 39px;
        color: #FFCC00;
        text-transform: uppercase;
      }
      .sub-titulo {
        font-family: $fontTitle;
        font-size: 25px;
        color: #ccc;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      .text {
        font-family: $fontText;
        font-size: 17px;
        color: #fff;
        margin-bottom: 30px;
        margin-left: 10%;
        text-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .caracteristicas {
    background-color: #231f20;
    padding: 50px 0;
    ._row {
      justify-content: center;
    }
    .item {
      width: 30%;
      margin-right: 3%;
      &:last-of-type {
        margin-right: 0;
      }
      .img {
        border: solid 5px #fff;
        box-shadow: 0 0 8px rgba(0,0,0,0.6);
        // max-width: 100%;
        width: 100%;
      }
      .titulo {
        font-family: $fontTitle;
        font-size: 27px;
        margin: 16px 0 25px;
        color: #FFCC00;
      }
      .text {
        display: flex;
        color: #fff;
        font-size: 19px;
        font-family: $fontText;
        margin-bottom: 15px;
        i {
          margin-right: 15px;
          font-size: 15px;
        }
      }
    }
  }
}
